doc/xsd/machine.xsd

<?xml version="1.0" encoding="utf-8"?> 

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:vbox="http://www.virtualbox.org/" name="VirtualBox"  targetNamespace="http://www.virtualbox.org/">

   <!--Interface IMachine-->
      <!-- readonly attribute IMachine::parent-->
      <xsd:element name="IMachine_getParent">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_getParentResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <!-- readonly attribute IMachine::accessible-->
      <xsd:element name="IMachine_getAccessible">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_getAccessibleResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <!-- readonly attribute IMachine::accessError-->
      <xsd:element name="IMachine_getAccessError">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_getAccessErrorResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
     
      <!-- read/write attribute IMachine::hardwareVersion-->
      <xsd:element name="IMachine_getHardwareVersion">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_getHardwareVersionResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_setHardwareVersion">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="hardwareVersion" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_setHardwareVersionResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>

      <!-- read/write attribute IMachine::hardwareUUID-->
      <xsd:element name="IMachine_getHardwareUUID">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_getHardwareUUIDResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_setHardwareUUID">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="hardwareUUID" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_setHardwareUUIDResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
    
      <!-- read/write attribute IMachine::CPUHotPlugEnabled-->
      <xsd:element name="IMachine_getCPUHotPlugEnabled">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_getCPUHotPlugEnabledResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_setCPUHotPlugEnabled">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="CPUHotPlugEnabled" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_setCPUHotPlugEnabledResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
     
      <!-- read/write attribute IMachine::pageFusionEnabled-->
      <xsd:element name="IMachine_getPageFusionEnabled">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_getPageFusionEnabledResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_setPageFusionEnabled">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="pageFusionEnabled" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_setPageFusionEnabledResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
     
      <!-- read/write attribute IMachine::VideoCaptureEnabled-->
      <xsd:element name="IMachine_getVideoCaptureEnabled">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_getVideoCaptureEnabledResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_setVideoCaptureEnabled">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="VideoCaptureEnabled" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_setVideoCaptureEnabledResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      
      <!-- read/write attribute IMachine::VideoCaptureFile-->
      <xsd:element name="IMachine_getVideoCaptureFile">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_getVideoCaptureFileResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_setVideoCaptureFile">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="VideoCaptureFile" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_setVideoCaptureFileResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      
      <!-- read/write attribute IMachine::VideoCaptureWidth-->
      <xsd:element name="IMachine_getVideoCaptureWidth">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_getVideoCaptureWidthResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:unsignedInt"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_setVideoCaptureWidth">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="VideoCaptureWidth" type="xsd:unsignedInt"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_setVideoCaptureWidthResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      
      <!-- read/write attribute IMachine::VideoCaptureHeight-->
      <xsd:element name="IMachine_getVideoCaptureHeight">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_getVideoCaptureHeightResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:unsignedInt"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_setVideoCaptureHeight">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="VideoCaptureHeight" type="xsd:unsignedInt"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_setVideoCaptureHeightResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
     
      
      <!-- read/write attribute IMachine::pointingHIDType-->
      <xsd:element name="IMachine_getPointingHIDType">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_getPointingHIDTypeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="vbox:PointingHIDType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_setPointingHIDType">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="pointingHIDType" type="vbox:PointingHIDType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_setPointingHIDTypeResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      
      <!-- read/write attribute IMachine::keyboardHIDType-->
      <xsd:element name="IMachine_getKeyboardHIDType">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_getKeyboardHIDTypeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="vbox:KeyboardHIDType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_setKeyboardHIDType">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="keyboardHIDType" type="vbox:KeyboardHIDType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_setKeyboardHIDTypeResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      
      <!-- read/write attribute IMachine::snapshotFolder-->
      <xsd:element name="IMachine_getSnapshotFolder">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_getSnapshotFolderResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_setSnapshotFolder">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="snapshotFolder" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_setSnapshotFolderResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      
      <!-- read/write attribute IMachine::emulatedUSBWebcameraEnabled-->
      <xsd:element name="IMachine_getEmulatedUSBWebcameraEnabled">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_getEmulatedUSBWebcameraEnabledResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_setEmulatedUSBWebcameraEnabled">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="emulatedUSBWebcameraEnabled" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_setEmulatedUSBWebcameraEnabledResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      
      <!-- read/write attribute IMachine::emulatedUSBCardReaderEnabled-->
      <xsd:element name="IMachine_getEmulatedUSBCardReaderEnabled">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_getEmulatedUSBCardReaderEnabledResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_setEmulatedUSBCardReaderEnabled">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="emulatedUSBCardReaderEnabled" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_setEmulatedUSBCardReaderEnabledResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
     
      <!-- readonly attribute IMachine::USBController-->
      <xsd:element name="IMachine_getUSBController">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_getUSBControllerResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    
      <!-- readonly attribute IMachine::settingsFilePath-->
      <xsd:element name="IMachine_getSettingsFilePath">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_getSettingsFilePathResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <!-- readonly attribute IMachine::sessionPID-->
      <xsd:element name="IMachine_getSessionPID">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_getSessionPIDResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:unsignedInt"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    
      <!-- readonly attribute IMachine::lastStateChange-->
      <xsd:element name="IMachine_getLastStateChange">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_getLastStateChangeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:long"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <!-- readonly attribute IMachine::stateFilePath-->
      <xsd:element name="IMachine_getStateFilePath">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_getStateFilePathResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <!-- readonly attribute IMachine::logFolder-->
      <xsd:element name="IMachine_getLogFolder">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_getLogFolderResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    
      <!-- readonly attribute IMachine::sharedFolders-->
      <xsd:element name="IMachine_getSharedFolders">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_getSharedFoldersResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" minOccurs="0" maxOccurs="unbounded" type="vbox:ISharedFolder"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <!-- read/write attribute IMachine::clipboardMode-->
      <xsd:element name="IMachine_getClipboardMode">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_getClipboardModeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="vbox:ClipboardMode"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_setClipboardMode">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="clipboardMode" type="vbox:ClipboardMode"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_setClipboardModeResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      
      <!-- read/write attribute IMachine::dragAndDropMode-->
      <xsd:element name="IMachine_getDragAndDropMode">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_getDragAndDropModeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="vbox:DragAndDropMode"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_setDragAndDropMode">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="dragAndDropMode" type="vbox:DragAndDropMode"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_setDragAndDropModeResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      
      <!-- read/write attribute IMachine::guestPropertyNotificationPatterns-->
      <xsd:element name="IMachine_getGuestPropertyNotificationPatterns">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_getGuestPropertyNotificationPatternsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_setGuestPropertyNotificationPatterns">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="guestPropertyNotificationPatterns" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_setGuestPropertyNotificationPatternsResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      
      <!-- read/write attribute IMachine::teleporterEnabled-->
      <xsd:element name="IMachine_getTeleporterEnabled">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_getTeleporterEnabledResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_setTeleporterEnabled">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="teleporterEnabled" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_setTeleporterEnabledResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      
      <!-- read/write attribute IMachine::teleporterPort-->
      <xsd:element name="IMachine_getTeleporterPort">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_getTeleporterPortResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:unsignedInt"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_setTeleporterPort">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="teleporterPort" type="xsd:unsignedInt"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_setTeleporterPortResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      
      <!-- read/write attribute IMachine::teleporterAddress-->
      <xsd:element name="IMachine_getTeleporterAddress">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_getTeleporterAddressResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_setTeleporterAddress">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="teleporterAddress" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_setTeleporterAddressResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      
      <!-- read/write attribute IMachine::teleporterPassword-->
      <xsd:element name="IMachine_getTeleporterPassword">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_getTeleporterPasswordResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_setTeleporterPassword">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="teleporterPassword" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_setTeleporterPasswordResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      
      <!-- read/write attribute IMachine::faultToleranceState-->
      <xsd:element name="IMachine_getFaultToleranceState">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_getFaultToleranceStateResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="vbox:FaultToleranceState"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_setFaultToleranceState">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="faultToleranceState" type="vbox:FaultToleranceState"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_setFaultToleranceStateResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      
      <!-- read/write attribute IMachine::faultTolerancePort-->
      <xsd:element name="IMachine_getFaultTolerancePort">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_getFaultTolerancePortResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:unsignedInt"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_setFaultTolerancePort">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="faultTolerancePort" type="xsd:unsignedInt"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_setFaultTolerancePortResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      
      <!-- read/write attribute IMachine::faultToleranceAddress-->
      <xsd:element name="IMachine_getFaultToleranceAddress">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_getFaultToleranceAddressResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_setFaultToleranceAddress">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="faultToleranceAddress" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_setFaultToleranceAddressResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      
      <!-- read/write attribute IMachine::faultTolerancePassword-->
      <xsd:element name="IMachine_getFaultTolerancePassword">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_getFaultTolerancePasswordResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_setFaultTolerancePassword">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="faultTolerancePassword" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_setFaultTolerancePasswordResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      
      <!-- read/write attribute IMachine::faultToleranceSyncInterval-->
      <xsd:element name="IMachine_getFaultToleranceSyncInterval">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_getFaultToleranceSyncIntervalResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:unsignedInt"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_setFaultToleranceSyncInterval">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="faultToleranceSyncInterval" type="xsd:unsignedInt"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_setFaultToleranceSyncIntervalResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
     
      <!-- readonly attribute IMachine::PCIDeviceAssignments-->
      <xsd:element name="IMachine_getPCIDeviceAssignments">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_getPCIDeviceAssignmentsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" minOccurs="0" maxOccurs="unbounded" type="vbox:IPCIDeviceAttachment"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <!-- readonly attribute IMachine::bandwidthControl-->
      <xsd:element name="IMachine_getBandwidthControl">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_getBandwidthControlResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <!-- read/write attribute IMachine::tracingEnabled-->
      <xsd:element name="IMachine_getTracingEnabled">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_getTracingEnabledResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_setTracingEnabled">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="tracingEnabled" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_setTracingEnabledResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      
      <!-- read/write attribute IMachine::tracingConfig-->
      <xsd:element name="IMachine_getTracingConfig">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_getTracingConfigResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_setTracingConfig">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="tracingConfig" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_setTracingConfigResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      
      <!-- read/write attribute IMachine::allowTracingToAccessVM-->
      <xsd:element name="IMachine_getAllowTracingToAccessVM">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_getAllowTracingToAccessVMResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_setAllowTracingToAccessVM">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="allowTracingToAccessVM" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_setAllowTracingToAccessVMResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      
      <!-- read/write attribute IMachine::autostartEnabled-->
      <xsd:element name="IMachine_getAutostartEnabled">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_getAutostartEnabledResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_setAutostartEnabled">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="autostartEnabled" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_setAutostartEnabledResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      
      <!-- read/write attribute IMachine::autostartDelay-->
      <xsd:element name="IMachine_getAutostartDelay">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_getAutostartDelayResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:unsignedInt"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_setAutostartDelay">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="autostartDelay" type="xsd:unsignedInt"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_setAutostartDelayResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      
      <!-- read/write attribute IMachine::autostopType-->
      <xsd:element name="IMachine_getAutostopType">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_getAutostopTypeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="vbox:AutostopType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_setAutostopType">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="autostopType" type="vbox:AutostopType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_setAutostopTypeResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
     
      
      <!-- method IMachine::passthroughDevice-->
      <xsd:element name="IMachine_passthroughDevice">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="controllerPort" type="xsd:int"/>
            <xsd:element name="device" type="xsd:int"/>
            <xsd:element name="passthrough" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_passthroughDeviceResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      
      <!-- method IMachine::temporaryEjectDevice-->
      <xsd:element name="IMachine_temporaryEjectDevice">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="controllerPort" type="xsd:int"/>
            <xsd:element name="device" type="xsd:int"/>
            <xsd:element name="temporaryEject" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_temporaryEjectDeviceResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      
      <!-- method IMachine::nonRotationalDevice-->
      <xsd:element name="IMachine_nonRotationalDevice">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="controllerPort" type="xsd:int"/>
            <xsd:element name="device" type="xsd:int"/>
            <xsd:element name="nonRotational" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_nonRotationalDeviceResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      
      <!-- method IMachine::setAutoDiscardForDevice-->
      <xsd:element name="IMachine_setAutoDiscardForDevice">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="controllerPort" type="xsd:int"/>
            <xsd:element name="device" type="xsd:int"/>
            <xsd:element name="discard" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_setAutoDiscardForDeviceResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      
      <!-- method IMachine::setBandwidthGroupForDevice-->
      <xsd:element name="IMachine_setBandwidthGroupForDevice">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="controllerPort" type="xsd:int"/>
            <xsd:element name="device" type="xsd:int"/>
            <xsd:element name="bandwidthGroup" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_setBandwidthGroupForDeviceResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <!-- method IMachine::setNoBandwidthGroupForDevice-->
      <xsd:element name="IMachine_setNoBandwidthGroupForDevice">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="controllerPort" type="xsd:int"/>
            <xsd:element name="device" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_setNoBandwidthGroupForDeviceResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
   
      <!-- method IMachine::attachHostPCIDevice-->
      <xsd:element name="IMachine_attachHostPCIDevice">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="hostAddress" type="xsd:int"/>
            <xsd:element name="desiredGuestAddress" type="xsd:int"/>
            <xsd:element name="tryToUnbind" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_attachHostPCIDeviceResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <!-- method IMachine::detachHostPCIDevice-->
      <xsd:element name="IMachine_detachHostPCIDevice">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="hostAddress" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_detachHostPCIDeviceResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
   
      <!-- method IMachine::getSerialPort-->
      <xsd:element name="IMachine_getSerialPort">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="slot" type="xsd:unsignedInt"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_getSerialPortResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <!-- method IMachine::getParallelPort-->
      <xsd:element name="IMachine_getParallelPort">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="slot" type="xsd:unsignedInt"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_getParallelPortResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <!-- method IMachine::getCPUIDLeaf-->
      <xsd:element name="IMachine_getCPUIDLeaf">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="id" type="xsd:unsignedInt"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_getCPUIDLeafResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="valEax" type="xsd:unsignedInt"/>
            <xsd:element name="valEbx" type="xsd:unsignedInt"/>
            <xsd:element name="valEcx" type="xsd:unsignedInt"/>
            <xsd:element name="valEdx" type="xsd:unsignedInt"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <!-- method IMachine::setCPUIDLeaf-->
      <xsd:element name="IMachine_setCPUIDLeaf">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="id" type="xsd:unsignedInt"/>
            <xsd:element name="valEax" type="xsd:unsignedInt"/>
            <xsd:element name="valEbx" type="xsd:unsignedInt"/>
            <xsd:element name="valEcx" type="xsd:unsignedInt"/>
            <xsd:element name="valEdx" type="xsd:unsignedInt"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_setCPUIDLeafResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      
      <!-- method IMachine::removeCPUIDLeaf-->
      <xsd:element name="IMachine_removeCPUIDLeaf">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="id" type="xsd:unsignedInt"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_removeCPUIDLeafResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      
      <!-- method IMachine::removeAllCPUIDLeaves-->
      <xsd:element name="IMachine_removeAllCPUIDLeaves">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_removeAllCPUIDLeavesResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
    
      <!-- method IMachine::unregister-->
      <xsd:element name="IMachine_unregister">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="cleanupMode" type="vbox:CleanupMode"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_unregisterResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <!-- method IMachine::delete-->
      <xsd:element name="IMachine_delete">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="aMedia" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_deleteResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <!-- method IMachine::export-->
      <xsd:element name="IMachine_export">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="aAppliance" type="xsd:string"/>
            <xsd:element name="location" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_exportResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <!-- method IMachine::findSnapshot-->
      <xsd:element name="IMachine_findSnapshot">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="nameOrId" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_findSnapshotResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <!-- method IMachine::createSharedFolder-->
      <xsd:element name="IMachine_createSharedFolder">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="hostPath" type="xsd:string"/>
            <xsd:element name="writable" type="xsd:boolean"/>
            <xsd:element name="automount" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_createSharedFolderResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      
      <!-- method IMachine::removeSharedFolder-->
      <xsd:element name="IMachine_removeSharedFolder">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="name" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_removeSharedFolderResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      
      <!-- method IMachine::canShowConsoleWindow-->
      <xsd:element name="IMachine_canShowConsoleWindow">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_canShowConsoleWindowResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <!-- method IMachine::showConsoleWindow-->
      <xsd:element name="IMachine_showConsoleWindow">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_showConsoleWindowResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:long"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <!-- method IMachine::getGuestProperty-->
      <xsd:element name="IMachine_getGuestProperty">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="name" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_getGuestPropertyResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="value" type="xsd:string"/>
            <xsd:element name="timestamp" type="xsd:long"/>
            <xsd:element name="flags" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <!-- method IMachine::getGuestPropertyValue-->
      <xsd:element name="IMachine_getGuestPropertyValue">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="property" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_getGuestPropertyValueResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <!-- method IMachine::getGuestPropertyTimestamp-->
      <xsd:element name="IMachine_getGuestPropertyTimestamp">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="property" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_getGuestPropertyTimestampResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:long"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <!-- method IMachine::setGuestProperty-->
      <xsd:element name="IMachine_setGuestProperty">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="property" type="xsd:string"/>
            <xsd:element name="value" type="xsd:string"/>
            <xsd:element name="flags" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_setGuestPropertyResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      
      <!-- method IMachine::setGuestPropertyValue-->
      <xsd:element name="IMachine_setGuestPropertyValue">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="property" type="xsd:string"/>
            <xsd:element name="value" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_setGuestPropertyValueResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      
      <!-- method IMachine::deleteGuestProperty-->
      <xsd:element name="IMachine_deleteGuestProperty">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="name" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_deleteGuestPropertyResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      
      <!-- method IMachine::enumerateGuestProperties-->
      <xsd:element name="IMachine_enumerateGuestProperties">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="patterns" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_enumerateGuestPropertiesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="name" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
            <xsd:element name="value" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
            <xsd:element name="timestamp" minOccurs="0" maxOccurs="unbounded" type="xsd:long"/>
            <xsd:element name="flags" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <!-- method IMachine::querySavedGuestScreenInfo-->
      <xsd:element name="IMachine_querySavedGuestScreenInfo">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="screenId" type="xsd:unsignedInt"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_querySavedGuestScreenInfoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="originX" type="xsd:unsignedInt"/>
            <xsd:element name="originY" type="xsd:unsignedInt"/>
            <xsd:element name="width" type="xsd:unsignedInt"/>
            <xsd:element name="height" type="xsd:unsignedInt"/>
            <xsd:element name="enabled" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <!-- method IMachine::readSavedThumbnailToArray-->
      <xsd:element name="IMachine_readSavedThumbnailToArray">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="screenId" type="xsd:unsignedInt"/>
            <xsd:element name="BGR" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_readSavedThumbnailToArrayResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="width" type="xsd:unsignedInt"/>
            <xsd:element name="height" type="xsd:unsignedInt"/>
            <xsd:element name="returnval" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    
      <!-- method IMachine::hotPlugCPU-->
      <xsd:element name="IMachine_hotPlugCPU">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="cpu" type="xsd:unsignedInt"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_hotPlugCPUResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      
      <!-- method IMachine::hotUnplugCPU-->
      <xsd:element name="IMachine_hotUnplugCPU">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="cpu" type="xsd:unsignedInt"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_hotUnplugCPUResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      
      <!-- method IMachine::getCPUStatus-->
      <xsd:element name="IMachine_getCPUStatus">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="cpu" type="xsd:unsignedInt"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_getCPUStatusResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <!-- method IMachine::queryLogFilename-->
      <xsd:element name="IMachine_queryLogFilename">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="idx" type="xsd:unsignedInt"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_queryLogFilenameResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <!-- method IMachine::cloneTo-->
      <xsd:element name="IMachine_cloneTo">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="target" type="xsd:string"/>
            <xsd:element name="mode" type="vbox:CloneMode"/>
            <xsd:element name="options" minOccurs="0" maxOccurs="unbounded" type="vbox:CloneOptions"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IMachine_cloneToResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
</xsd:schema>
