doc/xsd/system-properties.xsd

<?xml version="1.0" encoding="utf-8"?> 

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:vbox="http://www.virtualbox.org/" name="VirtualBox"  targetNamespace="http://www.virtualbox.org/">

    <!--Interface ISystemProperties-->
      <!-- readonly attribute ISystemProperties::minGuestRAM-->
      <xsd:element name="ISystemProperties_getMinGuestRAM">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_getMinGuestRAMResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:unsignedInt"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- readonly attribute ISystemProperties::maxGuestRAM-->
      <xsd:element name="ISystemProperties_getMaxGuestRAM">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_getMaxGuestRAMResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:unsignedInt"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- readonly attribute ISystemProperties::minGuestVRAM-->
      <xsd:element name="ISystemProperties_getMinGuestVRAM">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_getMinGuestVRAMResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:unsignedInt"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- readonly attribute ISystemProperties::maxGuestVRAM-->
      <xsd:element name="ISystemProperties_getMaxGuestVRAM">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_getMaxGuestVRAMResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:unsignedInt"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- readonly attribute ISystemProperties::minGuestCPUCount-->
      <xsd:element name="ISystemProperties_getMinGuestCPUCount">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_getMinGuestCPUCountResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:unsignedInt"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- readonly attribute ISystemProperties::maxGuestCPUCount-->
      <xsd:element name="ISystemProperties_getMaxGuestCPUCount">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_getMaxGuestCPUCountResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:unsignedInt"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- readonly attribute ISystemProperties::maxGuestMonitors-->
      <xsd:element name="ISystemProperties_getMaxGuestMonitors">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_getMaxGuestMonitorsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:unsignedInt"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- readonly attribute ISystemProperties::infoVDSize-->
      <xsd:element name="ISystemProperties_getInfoVDSize">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_getInfoVDSizeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:long"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- readonly attribute ISystemProperties::serialPortCount-->
      <xsd:element name="ISystemProperties_getSerialPortCount">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_getSerialPortCountResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:unsignedInt"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- readonly attribute ISystemProperties::parallelPortCount-->
      <xsd:element name="ISystemProperties_getParallelPortCount">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_getParallelPortCountResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:unsignedInt"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- readonly attribute ISystemProperties::maxBootPosition-->
      <xsd:element name="ISystemProperties_getMaxBootPosition">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_getMaxBootPositionResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:unsignedInt"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- read/write attribute ISystemProperties::defaultMachineFolder-->
      <xsd:element name="ISystemProperties_getDefaultMachineFolder">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_getDefaultMachineFolderResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_setDefaultMachineFolder">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="defaultMachineFolder" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_setDefaultMachineFolderResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <!-- readonly attribute ISystemProperties::mediumFormats-->
      <xsd:element name="ISystemProperties_getMediumFormats">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_getMediumFormatsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- read/write attribute ISystemProperties::defaultHardDiskFormat-->
      <xsd:element name="ISystemProperties_getDefaultHardDiskFormat">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_getDefaultHardDiskFormatResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_setDefaultHardDiskFormat">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="defaultHardDiskFormat" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_setDefaultHardDiskFormatResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <!-- read/write attribute ISystemProperties::freeDiskSpaceWarning-->
      <xsd:element name="ISystemProperties_getFreeDiskSpaceWarning">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_getFreeDiskSpaceWarningResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:long"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_setFreeDiskSpaceWarning">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="freeDiskSpaceWarning" type="xsd:long"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_setFreeDiskSpaceWarningResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <!-- read/write attribute ISystemProperties::freeDiskSpacePercentWarning-->
      <xsd:element name="ISystemProperties_getFreeDiskSpacePercentWarning">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_getFreeDiskSpacePercentWarningResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:unsignedInt"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_setFreeDiskSpacePercentWarning">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="freeDiskSpacePercentWarning" type="xsd:unsignedInt"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_setFreeDiskSpacePercentWarningResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <!-- read/write attribute ISystemProperties::freeDiskSpaceError-->
      <xsd:element name="ISystemProperties_getFreeDiskSpaceError">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_getFreeDiskSpaceErrorResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:long"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_setFreeDiskSpaceError">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="freeDiskSpaceError" type="xsd:long"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_setFreeDiskSpaceErrorResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <!-- read/write attribute ISystemProperties::freeDiskSpacePercentError-->
      <xsd:element name="ISystemProperties_getFreeDiskSpacePercentError">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_getFreeDiskSpacePercentErrorResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:unsignedInt"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_setFreeDiskSpacePercentError">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="freeDiskSpacePercentError" type="xsd:unsignedInt"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_setFreeDiskSpacePercentErrorResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <!-- read/write attribute ISystemProperties::VRDEAuthLibrary-->
      <xsd:element name="ISystemProperties_getVRDEAuthLibrary">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_getVRDEAuthLibraryResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_setVRDEAuthLibrary">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="VRDEAuthLibrary" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_setVRDEAuthLibraryResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <!-- read/write attribute ISystemProperties::webServiceAuthLibrary-->
      <xsd:element name="ISystemProperties_getWebServiceAuthLibrary">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_getWebServiceAuthLibraryResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_setWebServiceAuthLibrary">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="webServiceAuthLibrary" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_setWebServiceAuthLibraryResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <!-- read/write attribute ISystemProperties::defaultVRDEExtPack-->
      <xsd:element name="ISystemProperties_getDefaultVRDEExtPack">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_getDefaultVRDEExtPackResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_setDefaultVRDEExtPack">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="defaultVRDEExtPack" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_setDefaultVRDEExtPackResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <!-- read/write attribute ISystemProperties::logHistoryCount-->
      <xsd:element name="ISystemProperties_getLogHistoryCount">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_getLogHistoryCountResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:unsignedInt"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_setLogHistoryCount">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="logHistoryCount" type="xsd:unsignedInt"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_setLogHistoryCountResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <!-- readonly attribute ISystemProperties::defaultAudioDriver-->
      <xsd:element name="ISystemProperties_getDefaultAudioDriver">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_getDefaultAudioDriverResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="vbox:AudioDriverType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- read/write attribute ISystemProperties::autostartDatabasePath-->
      <xsd:element name="ISystemProperties_getAutostartDatabasePath">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_getAutostartDatabasePathResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_setAutostartDatabasePath">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="autostartDatabasePath" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_setAutostartDatabasePathResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <!-- read/write attribute ISystemProperties::defaultAdditionsISO-->
      <xsd:element name="ISystemProperties_getDefaultAdditionsISO">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_getDefaultAdditionsISOResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_setDefaultAdditionsISO">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="defaultAdditionsISO" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_setDefaultAdditionsISOResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <!-- method ISystemProperties::getMaxNetworkAdapters-->
      <xsd:element name="ISystemProperties_getMaxNetworkAdapters">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="chipset" type="vbox:ChipsetType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_getMaxNetworkAdaptersResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:unsignedInt"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- method ISystemProperties::getMaxNetworkAdaptersOfType-->
      <xsd:element name="ISystemProperties_getMaxNetworkAdaptersOfType">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="chipset" type="vbox:ChipsetType"/>
            <xsd:element name="type" type="vbox:NetworkAttachmentType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_getMaxNetworkAdaptersOfTypeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:unsignedInt"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- method ISystemProperties::getMaxDevicesPerPortForStorageBus-->
      <xsd:element name="ISystemProperties_getMaxDevicesPerPortForStorageBus">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="bus" type="vbox:StorageBus"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_getMaxDevicesPerPortForStorageBusResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:unsignedInt"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- method ISystemProperties::getMinPortCountForStorageBus-->
      <xsd:element name="ISystemProperties_getMinPortCountForStorageBus">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="bus" type="vbox:StorageBus"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_getMinPortCountForStorageBusResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:unsignedInt"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- method ISystemProperties::getMaxPortCountForStorageBus-->
      <xsd:element name="ISystemProperties_getMaxPortCountForStorageBus">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="bus" type="vbox:StorageBus"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_getMaxPortCountForStorageBusResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:unsignedInt"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- method ISystemProperties::getMaxInstancesOfStorageBus-->
      <xsd:element name="ISystemProperties_getMaxInstancesOfStorageBus">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="chipset" type="vbox:ChipsetType"/>
            <xsd:element name="bus" type="vbox:StorageBus"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_getMaxInstancesOfStorageBusResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:unsignedInt"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- method ISystemProperties::getDeviceTypesForStorageBus-->
      <xsd:element name="ISystemProperties_getDeviceTypesForStorageBus">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="bus" type="vbox:StorageBus"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_getDeviceTypesForStorageBusResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" minOccurs="0" maxOccurs="unbounded" type="vbox:DeviceType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- method ISystemProperties::getDefaultIoCacheSettingForStorageController-->
      <xsd:element name="ISystemProperties_getDefaultIoCacheSettingForStorageController">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="controllerType" type="vbox:StorageControllerType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_getDefaultIoCacheSettingForStorageControllerResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
</xsd:schema>