doc/xsd/virtualbox.xsd

<?xml version="1.0" encoding="utf-8"?> 

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:vbox="http://www.virtualbox.org/" name="VirtualBox"  targetNamespace="http://www.virtualbox.org/">

 <!--Interface IVirtualBox-->
      <!-- readonly attribute IVirtualBox::version-->
      <xsd:element name="IVirtualBox_getVersion">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IVirtualBox_getVersionResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- readonly attribute IVirtualBox::versionNormalized-->
      <xsd:element name="IVirtualBox_getVersionNormalized">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IVirtualBox_getVersionNormalizedResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- readonly attribute IVirtualBox::revision-->
      <xsd:element name="IVirtualBox_getRevision">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IVirtualBox_getRevisionResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:unsignedInt"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- readonly attribute IVirtualBox::packageType-->
      <xsd:element name="IVirtualBox_getPackageType">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IVirtualBox_getPackageTypeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- readonly attribute IVirtualBox::APIVersion-->
      <xsd:element name="IVirtualBox_getAPIVersion">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IVirtualBox_getAPIVersionResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- readonly attribute IVirtualBox::homeFolder-->
      <xsd:element name="IVirtualBox_getHomeFolder">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IVirtualBox_getHomeFolderResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- readonly attribute IVirtualBox::settingsFilePath-->
      <xsd:element name="IVirtualBox_getSettingsFilePath">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IVirtualBox_getSettingsFilePathResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- readonly attribute IVirtualBox::host-->
      <xsd:element name="IVirtualBox_getHost">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IVirtualBox_getHostResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- readonly attribute IVirtualBox::systemProperties-->
      <xsd:element name="IVirtualBox_getSystemProperties">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IVirtualBox_getSystemPropertiesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- readonly attribute IVirtualBox::machines-->
      <xsd:element name="IVirtualBox_getMachines">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IVirtualBox_getMachinesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- readonly attribute IVirtualBox::machineGroups-->
      <xsd:element name="IVirtualBox_getMachineGroups">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IVirtualBox_getMachineGroupsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- readonly attribute IVirtualBox::hardDisks-->
      <xsd:element name="IVirtualBox_getHardDisks">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IVirtualBox_getHardDisksResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- readonly attribute IVirtualBox::DVDImages-->
      <xsd:element name="IVirtualBox_getDVDImages">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IVirtualBox_getDVDImagesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- readonly attribute IVirtualBox::floppyImages-->
      <xsd:element name="IVirtualBox_getFloppyImages">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IVirtualBox_getFloppyImagesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- readonly attribute IVirtualBox::progressOperations-->
      <xsd:element name="IVirtualBox_getProgressOperations">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IVirtualBox_getProgressOperationsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- readonly attribute IVirtualBox::guestOSTypes-->
      <xsd:element name="IVirtualBox_getGuestOSTypes">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IVirtualBox_getGuestOSTypesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" minOccurs="0" maxOccurs="unbounded" type="vbox:IGuestOSType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- readonly attribute IVirtualBox::sharedFolders-->
      <xsd:element name="IVirtualBox_getSharedFolders">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IVirtualBox_getSharedFoldersResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" minOccurs="0" maxOccurs="unbounded" type="vbox:ISharedFolder"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- readonly attribute IVirtualBox::performanceCollector-->
      <xsd:element name="IVirtualBox_getPerformanceCollector">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IVirtualBox_getPerformanceCollectorResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- readonly attribute IVirtualBox::DHCPServers-->
      <xsd:element name="IVirtualBox_getDHCPServers">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IVirtualBox_getDHCPServersResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- readonly attribute IVirtualBox::eventSource-->
      <xsd:element name="IVirtualBox_getEventSource">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IVirtualBox_getEventSourceResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!--skipping attribute IExtPackManager for it is of a suppressed type-->
      <!-- readonly attribute IVirtualBox::internalNetworks-->
      <xsd:element name="IVirtualBox_getInternalNetworks">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IVirtualBox_getInternalNetworksResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- readonly attribute IVirtualBox::genericNetworkDrivers-->
      <xsd:element name="IVirtualBox_getGenericNetworkDrivers">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IVirtualBox_getGenericNetworkDriversResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- method IVirtualBox::composeMachineFilename-->
      <xsd:element name="IVirtualBox_composeMachineFilename">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="group" type="xsd:string"/>
            <xsd:element name="createFlags" type="xsd:string"/>
            <xsd:element name="baseFolder" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IVirtualBox_composeMachineFilenameResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- method IVirtualBox::createMachine-->
      <xsd:element name="IVirtualBox_createMachine">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="settingsFile" type="xsd:string"/>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="groups" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
            <xsd:element name="osTypeId" type="xsd:string"/>
            <xsd:element name="flags" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IVirtualBox_createMachineResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- method IVirtualBox::openMachine-->
      <xsd:element name="IVirtualBox_openMachine">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="settingsFile" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IVirtualBox_openMachineResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- method IVirtualBox::registerMachine-->
      <xsd:element name="IVirtualBox_registerMachine">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="machine" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IVirtualBox_registerMachineResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <!-- method IVirtualBox::findMachine-->
      <xsd:element name="IVirtualBox_findMachine">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="nameOrId" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IVirtualBox_findMachineResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- method IVirtualBox::getMachinesByGroups-->
      <xsd:element name="IVirtualBox_getMachinesByGroups">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="groups" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IVirtualBox_getMachinesByGroupsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- method IVirtualBox::getMachineStates-->
      <xsd:element name="IVirtualBox_getMachineStates">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="machines" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IVirtualBox_getMachineStatesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" minOccurs="0" maxOccurs="unbounded" type="vbox:MachineState"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- method IVirtualBox::createAppliance-->
      <xsd:element name="IVirtualBox_createAppliance">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IVirtualBox_createApplianceResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- method IVirtualBox::createHardDisk-->
      <xsd:element name="IVirtualBox_createHardDisk">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="format" type="xsd:string"/>
            <xsd:element name="location" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IVirtualBox_createHardDiskResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- method IVirtualBox::openMedium-->
      <xsd:element name="IVirtualBox_openMedium">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="location" type="xsd:string"/>
            <xsd:element name="deviceType" type="vbox:DeviceType"/>
            <xsd:element name="accessMode" type="vbox:AccessMode"/>
            <xsd:element name="forceNewUuid" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IVirtualBox_openMediumResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- method IVirtualBox::getGuestOSType-->
      <xsd:element name="IVirtualBox_getGuestOSType">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="id" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IVirtualBox_getGuestOSTypeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="vbox:IGuestOSType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- method IVirtualBox::createSharedFolder-->
      <xsd:element name="IVirtualBox_createSharedFolder">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="hostPath" type="xsd:string"/>
            <xsd:element name="writable" type="xsd:boolean"/>
            <xsd:element name="automount" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IVirtualBox_createSharedFolderResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <!-- method IVirtualBox::removeSharedFolder-->
      <xsd:element name="IVirtualBox_removeSharedFolder">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="name" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IVirtualBox_removeSharedFolderResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <!-- method IVirtualBox::getExtraDataKeys-->
      <xsd:element name="IVirtualBox_getExtraDataKeys">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IVirtualBox_getExtraDataKeysResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- method IVirtualBox::getExtraData-->
      <xsd:element name="IVirtualBox_getExtraData">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="key" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IVirtualBox_getExtraDataResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- method IVirtualBox::setExtraData-->
      <xsd:element name="IVirtualBox_setExtraData">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="key" type="xsd:string"/>
            <xsd:element name="value" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IVirtualBox_setExtraDataResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <!-- method IVirtualBox::setSettingsSecret-->
      <xsd:element name="IVirtualBox_setSettingsSecret">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="password" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IVirtualBox_setSettingsSecretResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <!-- method IVirtualBox::createDHCPServer-->
      <xsd:element name="IVirtualBox_createDHCPServer">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="name" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IVirtualBox_createDHCPServerResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- method IVirtualBox::findDHCPServerByNetworkName-->
      <xsd:element name="IVirtualBox_findDHCPServerByNetworkName">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="name" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IVirtualBox_findDHCPServerByNetworkNameResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- method IVirtualBox::removeDHCPServer-->
      <xsd:element name="IVirtualBox_removeDHCPServer">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="server" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IVirtualBox_removeDHCPServerResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <!-- method IVirtualBox::checkFirmwarePresent-->
      <xsd:element name="IVirtualBox_checkFirmwarePresent">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="firmwareType" type="vbox:FirmwareType"/>
            <xsd:element name="version" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IVirtualBox_checkFirmwarePresentResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="url" type="xsd:string"/>
            <xsd:element name="file" type="xsd:string"/>
            <xsd:element name="returnval" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
</xsd:schema>