doc/guest.xsd

<?xml version="1.0" encoding="utf-8"?> 

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:vbox="http://www.virtualbox.org/" name="VirtualBox"  targetNamespace="http://www.virtualbox.org/">
 <!--Interface IGuest-->
      <!-- readonly attribute IGuest::OSTypeId-->
      <xsd:element name="IGuest_getOSTypeId">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IGuest_getOSTypeIdResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- readonly attribute IGuest::additionsRunLevel-->
      <xsd:element name="IGuest_getAdditionsRunLevel">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IGuest_getAdditionsRunLevelResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="vbox:AdditionsRunLevelType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- readonly attribute IGuest::additionsVersion-->
      <xsd:element name="IGuest_getAdditionsVersion">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IGuest_getAdditionsVersionResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- readonly attribute IGuest::additionsRevision-->
      <xsd:element name="IGuest_getAdditionsRevision">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IGuest_getAdditionsRevisionResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:unsignedInt"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- readonly attribute IGuest::facilities-->
      <xsd:element name="IGuest_getFacilities">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IGuest_getFacilitiesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" minOccurs="0" maxOccurs="unbounded" type="vbox:IAdditionsFacility"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- readonly attribute IGuest::sessions-->
      <xsd:element name="IGuest_getSessions">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IGuest_getSessionsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- read/write attribute IGuest::memoryBalloonSize-->
      <xsd:element name="IGuest_getMemoryBalloonSize">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IGuest_getMemoryBalloonSizeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:unsignedInt"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IGuest_setMemoryBalloonSize">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="memoryBalloonSize" type="xsd:unsignedInt"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IGuest_setMemoryBalloonSizeResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <!-- read/write attribute IGuest::statisticsUpdateInterval-->
      <xsd:element name="IGuest_getStatisticsUpdateInterval">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IGuest_getStatisticsUpdateIntervalResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:unsignedInt"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IGuest_setStatisticsUpdateInterval">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="statisticsUpdateInterval" type="xsd:unsignedInt"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IGuest_setStatisticsUpdateIntervalResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <!-- method IGuest::internalGetStatistics-->
      <xsd:element name="IGuest_internalGetStatistics">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IGuest_internalGetStatisticsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="cpuUser" type="xsd:unsignedInt"/>
            <xsd:element name="cpuKernel" type="xsd:unsignedInt"/>
            <xsd:element name="cpuIdle" type="xsd:unsignedInt"/>
            <xsd:element name="memTotal" type="xsd:unsignedInt"/>
            <xsd:element name="memFree" type="xsd:unsignedInt"/>
            <xsd:element name="memBalloon" type="xsd:unsignedInt"/>
            <xsd:element name="memShared" type="xsd:unsignedInt"/>
            <xsd:element name="memCache" type="xsd:unsignedInt"/>
            <xsd:element name="pagedTotal" type="xsd:unsignedInt"/>
            <xsd:element name="memAllocTotal" type="xsd:unsignedInt"/>
            <xsd:element name="memFreeTotal" type="xsd:unsignedInt"/>
            <xsd:element name="memBalloonTotal" type="xsd:unsignedInt"/>
            <xsd:element name="memSharedTotal" type="xsd:unsignedInt"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- method IGuest::getFacilityStatus-->
      <xsd:element name="IGuest_getFacilityStatus">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="facility" type="vbox:AdditionsFacilityType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IGuest_getFacilityStatusResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="timestamp" type="xsd:long"/>
            <xsd:element name="returnval" type="vbox:AdditionsFacilityStatus"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- method IGuest::getAdditionsStatus-->
      <xsd:element name="IGuest_getAdditionsStatus">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="level" type="vbox:AdditionsRunLevelType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IGuest_getAdditionsStatusResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- method IGuest::setCredentials-->
      <xsd:element name="IGuest_setCredentials">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="userName" type="xsd:string"/>
            <xsd:element name="password" type="xsd:string"/>
            <xsd:element name="domain" type="xsd:string"/>
            <xsd:element name="allowInteractiveLogon" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IGuest_setCredentialsResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <!-- method IGuest::dragHGEnter-->
      <xsd:element name="IGuest_dragHGEnter">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="screenId" type="xsd:unsignedInt"/>
            <xsd:element name="y" type="xsd:unsignedInt"/>
            <xsd:element name="x" type="xsd:unsignedInt"/>
            <xsd:element name="defaultAction" type="vbox:DragAndDropAction"/>
            <xsd:element name="allowedActions" minOccurs="0" maxOccurs="unbounded" type="vbox:DragAndDropAction"/>
            <xsd:element name="formats" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IGuest_dragHGEnterResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="vbox:DragAndDropAction"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- method IGuest::dragHGMove-->
      <xsd:element name="IGuest_dragHGMove">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="screenId" type="xsd:unsignedInt"/>
            <xsd:element name="x" type="xsd:unsignedInt"/>
            <xsd:element name="y" type="xsd:unsignedInt"/>
            <xsd:element name="defaultAction" type="vbox:DragAndDropAction"/>
            <xsd:element name="allowedActions" minOccurs="0" maxOccurs="unbounded" type="vbox:DragAndDropAction"/>
            <xsd:element name="formats" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IGuest_dragHGMoveResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="vbox:DragAndDropAction"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- method IGuest::dragHGLeave-->
      <xsd:element name="IGuest_dragHGLeave">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="screenId" type="xsd:unsignedInt"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IGuest_dragHGLeaveResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <!-- method IGuest::dragHGDrop-->
      <xsd:element name="IGuest_dragHGDrop">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="screenId" type="xsd:unsignedInt"/>
            <xsd:element name="x" type="xsd:unsignedInt"/>
            <xsd:element name="y" type="xsd:unsignedInt"/>
            <xsd:element name="defaultAction" type="vbox:DragAndDropAction"/>
            <xsd:element name="allowedActions" minOccurs="0" maxOccurs="unbounded" type="vbox:DragAndDropAction"/>
            <xsd:element name="formats" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IGuest_dragHGDropResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="format" type="xsd:string"/>
            <xsd:element name="returnval" type="vbox:DragAndDropAction"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- method IGuest::dragHGPutData-->
      <xsd:element name="IGuest_dragHGPutData">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="screenId" type="xsd:unsignedInt"/>
            <xsd:element name="format" type="xsd:string"/>
            <xsd:element name="data" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IGuest_dragHGPutDataResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- method IGuest::dragGHPending-->
      <xsd:element name="IGuest_dragGHPending">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="screenId" type="xsd:unsignedInt"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IGuest_dragGHPendingResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="format" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
            <xsd:element name="allowedActions" minOccurs="0" maxOccurs="unbounded" type="vbox:DragAndDropAction"/>
            <xsd:element name="returnval" type="vbox:DragAndDropAction"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- method IGuest::dragGHDropped-->
      <xsd:element name="IGuest_dragGHDropped">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="format" type="xsd:string"/>
            <xsd:element name="action" type="vbox:DragAndDropAction"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IGuest_dragGHDroppedResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- method IGuest::dragGHGetData-->
      <xsd:element name="IGuest_dragGHGetData">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IGuest_dragGHGetDataResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- method IGuest::createSession-->
      <xsd:element name="IGuest_createSession">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="user" type="xsd:string"/>
            <xsd:element name="password" type="xsd:string"/>
            <xsd:element name="domain" type="xsd:string"/>
            <xsd:element name="sessionName" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IGuest_createSessionResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- method IGuest::findSession-->
      <xsd:element name="IGuest_findSession">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="sessionName" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IGuest_findSessionResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- method IGuest::updateGuestAdditions-->
      <xsd:element name="IGuest_updateGuestAdditions">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="source" type="xsd:string"/>
            <xsd:element name="flags" minOccurs="0" maxOccurs="unbounded" type="vbox:AdditionsUpdateFlag"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IGuest_updateGuestAdditionsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
   
      <!--Interface IGuestSession-->
      <!-- readonly attribute IGuestSession::user-->
      <xsd:element name="IGuestSession_getUser">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IGuestSession_getUserResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- readonly attribute IGuestSession::domain-->
      <xsd:element name="IGuestSession_getDomain">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IGuestSession_getDomainResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- readonly attribute IGuestSession::name-->
      <xsd:element name="IGuestSession_getName">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IGuestSession_getNameResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- readonly attribute IGuestSession::id-->
      <xsd:element name="IGuestSession_getId">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IGuestSession_getIdResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:unsignedInt"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- read/write attribute IGuestSession::timeout-->
      <xsd:element name="IGuestSession_getTimeout">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IGuestSession_getTimeoutResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:unsignedInt"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IGuestSession_setTimeout">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="timeout" type="xsd:unsignedInt"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IGuestSession_setTimeoutResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <!-- read/write attribute IGuestSession::environment-->
      <xsd:element name="IGuestSession_getEnvironment">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IGuestSession_getEnvironmentResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IGuestSession_setEnvironment">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="environment" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IGuestSession_setEnvironmentResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <!-- readonly attribute IGuestSession::processes-->
      <xsd:element name="IGuestSession_getProcesses">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IGuestSession_getProcessesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- readonly attribute IGuestSession::directories-->
      <xsd:element name="IGuestSession_getDirectories">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IGuestSession_getDirectoriesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- readonly attribute IGuestSession::files-->
      <xsd:element name="IGuestSession_getFiles">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IGuestSession_getFilesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- method IGuestSession::close-->
      <xsd:element name="IGuestSession_close">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IGuestSession_closeResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <!-- method IGuestSession::copyFrom-->
      <xsd:element name="IGuestSession_copyFrom">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="source" type="xsd:string"/>
            <xsd:element name="dest" type="xsd:string"/>
            <xsd:element name="flags" minOccurs="0" maxOccurs="unbounded" type="vbox:CopyFileFlag"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IGuestSession_copyFromResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- method IGuestSession::copyTo-->
      <xsd:element name="IGuestSession_copyTo">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="source" type="xsd:string"/>
            <xsd:element name="dest" type="xsd:string"/>
            <xsd:element name="flags" minOccurs="0" maxOccurs="unbounded" type="vbox:CopyFileFlag"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IGuestSession_copyToResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- method IGuestSession::directoryCreate-->
      <xsd:element name="IGuestSession_directoryCreate">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="path" type="xsd:string"/>
            <xsd:element name="mode" type="xsd:unsignedInt"/>
            <xsd:element name="flags" minOccurs="0" maxOccurs="unbounded" type="vbox:DirectoryCreateFlag"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IGuestSession_directoryCreateResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <!-- method IGuestSession::directoryCreateTemp-->
      <xsd:element name="IGuestSession_directoryCreateTemp">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="templateName" type="xsd:string"/>
            <xsd:element name="mode" type="xsd:unsignedInt"/>
            <xsd:element name="path" type="xsd:string"/>
            <xsd:element name="secure" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IGuestSession_directoryCreateTempResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- method IGuestSession::directoryExists-->
      <xsd:element name="IGuestSession_directoryExists">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="path" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IGuestSession_directoryExistsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- method IGuestSession::directoryOpen-->
      <xsd:element name="IGuestSession_directoryOpen">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="path" type="xsd:string"/>
            <xsd:element name="filter" type="xsd:string"/>
            <xsd:element name="flags" minOccurs="0" maxOccurs="unbounded" type="vbox:DirectoryOpenFlag"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IGuestSession_directoryOpenResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- method IGuestSession::directoryQueryInfo-->
      <xsd:element name="IGuestSession_directoryQueryInfo">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="path" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IGuestSession_directoryQueryInfoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- method IGuestSession::directoryRemove-->
      <xsd:element name="IGuestSession_directoryRemove">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="path" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IGuestSession_directoryRemoveResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <!-- method IGuestSession::directoryRemoveRecursive-->
      <xsd:element name="IGuestSession_directoryRemoveRecursive">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="path" type="xsd:string"/>
            <xsd:element name="flags" minOccurs="0" maxOccurs="unbounded" type="vbox:DirectoryRemoveRecFlag"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IGuestSession_directoryRemoveRecursiveResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- method IGuestSession::directoryRename-->
      <xsd:element name="IGuestSession_directoryRename">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="source" type="xsd:string"/>
            <xsd:element name="dest" type="xsd:string"/>
            <xsd:element name="flags" minOccurs="0" maxOccurs="unbounded" type="vbox:PathRenameFlag"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IGuestSession_directoryRenameResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <!-- method IGuestSession::directorySetACL-->
      <xsd:element name="IGuestSession_directorySetACL">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="path" type="xsd:string"/>
            <xsd:element name="acl" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IGuestSession_directorySetACLResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <!-- method IGuestSession::environmentClear-->
      <xsd:element name="IGuestSession_environmentClear">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IGuestSession_environmentClearResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <!-- method IGuestSession::environmentGet-->
      <xsd:element name="IGuestSession_environmentGet">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="name" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IGuestSession_environmentGetResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- method IGuestSession::environmentSet-->
      <xsd:element name="IGuestSession_environmentSet">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="value" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IGuestSession_environmentSetResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <!-- method IGuestSession::environmentUnset-->
      <xsd:element name="IGuestSession_environmentUnset">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="name" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IGuestSession_environmentUnsetResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <!-- method IGuestSession::fileCreateTemp-->
      <xsd:element name="IGuestSession_fileCreateTemp">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="templateName" type="xsd:string"/>
            <xsd:element name="mode" type="xsd:unsignedInt"/>
            <xsd:element name="path" type="xsd:string"/>
            <xsd:element name="secure" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IGuestSession_fileCreateTempResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- method IGuestSession::fileExists-->
      <xsd:element name="IGuestSession_fileExists">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="path" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IGuestSession_fileExistsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- method IGuestSession::fileRemove-->
      <xsd:element name="IGuestSession_fileRemove">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="path" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IGuestSession_fileRemoveResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <!-- method IGuestSession::fileOpen-->
      <xsd:element name="IGuestSession_fileOpen">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="path" type="xsd:string"/>
            <xsd:element name="openMode" type="xsd:string"/>
            <xsd:element name="disposition" type="xsd:string"/>
            <xsd:element name="creationMode" type="xsd:unsignedInt"/>
            <xsd:element name="offset" type="xsd:long"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IGuestSession_fileOpenResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- method IGuestSession::fileQueryInfo-->
      <xsd:element name="IGuestSession_fileQueryInfo">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="path" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IGuestSession_fileQueryInfoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- method IGuestSession::fileQuerySize-->
      <xsd:element name="IGuestSession_fileQuerySize">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="path" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IGuestSession_fileQuerySizeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:long"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- method IGuestSession::fileRename-->
      <xsd:element name="IGuestSession_fileRename">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="source" type="xsd:string"/>
            <xsd:element name="dest" type="xsd:string"/>
            <xsd:element name="flags" minOccurs="0" maxOccurs="unbounded" type="vbox:PathRenameFlag"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IGuestSession_fileRenameResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <!-- method IGuestSession::fileSetACL-->
      <xsd:element name="IGuestSession_fileSetACL">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="file" type="xsd:string"/>
            <xsd:element name="acl" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IGuestSession_fileSetACLResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <!-- method IGuestSession::processCreate-->
      <xsd:element name="IGuestSession_processCreate">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="command" type="xsd:string"/>
            <xsd:element name="arguments" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
            <xsd:element name="environment" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
            <xsd:element name="flags" minOccurs="0" maxOccurs="unbounded" type="vbox:ProcessCreateFlag"/>
            <xsd:element name="timeoutMS" type="xsd:unsignedInt"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IGuestSession_processCreateResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- method IGuestSession::processCreateEx-->
      <xsd:element name="IGuestSession_processCreateEx">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="command" type="xsd:string"/>
            <xsd:element name="arguments" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
            <xsd:element name="environment" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
            <xsd:element name="flags" minOccurs="0" maxOccurs="unbounded" type="vbox:ProcessCreateFlag"/>
            <xsd:element name="timeoutMS" type="xsd:unsignedInt"/>
            <xsd:element name="priority" type="vbox:ProcessPriority"/>
            <xsd:element name="affinity" minOccurs="0" maxOccurs="unbounded" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IGuestSession_processCreateExResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- method IGuestSession::processGet-->
      <xsd:element name="IGuestSession_processGet">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="pid" type="xsd:unsignedInt"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IGuestSession_processGetResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- method IGuestSession::symlinkCreate-->
      <xsd:element name="IGuestSession_symlinkCreate">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="source" type="xsd:string"/>
            <xsd:element name="target" type="xsd:string"/>
            <xsd:element name="type" type="vbox:SymlinkType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IGuestSession_symlinkCreateResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <!-- method IGuestSession::symlinkExists-->
      <xsd:element name="IGuestSession_symlinkExists">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="symlink" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IGuestSession_symlinkExistsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- method IGuestSession::symlinkRead-->
      <xsd:element name="IGuestSession_symlinkRead">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="symlink" type="xsd:string"/>
            <xsd:element name="flags" minOccurs="0" maxOccurs="unbounded" type="vbox:SymlinkReadFlag"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IGuestSession_symlinkReadResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- method IGuestSession::symlinkRemoveDirectory-->
      <xsd:element name="IGuestSession_symlinkRemoveDirectory">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="path" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IGuestSession_symlinkRemoveDirectoryResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <!-- method IGuestSession::symlinkRemoveFile-->
      <xsd:element name="IGuestSession_symlinkRemoveFile">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="file" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IGuestSession_symlinkRemoveFileResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
</xsd:schema>