vbox-app/doc/xsd/system-properties.xsd

<?xml version="1.0" encoding="utf-8"?> 

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:vbox="http://www.virtualbox.org/" name="VirtualBox"  targetNamespace="http://www.virtualbox.org/">

      <!-- readonly attribute ISystemProperties::infoVDSize-->
      <xsd:element name="ISystemProperties_getInfoVDSize">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_getInfoVDSizeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:long"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <!-- readonly attribute ISystemProperties::serialPortCount-->
      <xsd:element name="ISystemProperties_getSerialPortCount">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_getSerialPortCountResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:unsignedInt"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <!-- readonly attribute ISystemProperties::parallelPortCount-->
      <xsd:element name="ISystemProperties_getParallelPortCount">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_getParallelPortCountResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:unsignedInt"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <!-- read/write attribute ISystemProperties::defaultMachineFolder-->
      <xsd:element name="ISystemProperties_getDefaultMachineFolder">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_getDefaultMachineFolderResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_setDefaultMachineFolder">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="defaultMachineFolder" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_setDefaultMachineFolderResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      
      <!-- read/write attribute ISystemProperties::defaultHardDiskFormat-->
      <xsd:element name="ISystemProperties_getDefaultHardDiskFormat">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_getDefaultHardDiskFormatResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_setDefaultHardDiskFormat">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="defaultHardDiskFormat" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_setDefaultHardDiskFormatResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      
      <!-- read/write attribute ISystemProperties::freeDiskSpaceWarning-->
      <xsd:element name="ISystemProperties_getFreeDiskSpaceWarning">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_getFreeDiskSpaceWarningResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:long"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_setFreeDiskSpaceWarning">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="freeDiskSpaceWarning" type="xsd:long"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_setFreeDiskSpaceWarningResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      
      <!-- read/write attribute ISystemProperties::freeDiskSpacePercentWarning-->
      <xsd:element name="ISystemProperties_getFreeDiskSpacePercentWarning">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_getFreeDiskSpacePercentWarningResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:unsignedInt"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_setFreeDiskSpacePercentWarning">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="freeDiskSpacePercentWarning" type="xsd:unsignedInt"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_setFreeDiskSpacePercentWarningResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      
      <!-- read/write attribute ISystemProperties::freeDiskSpaceError-->
      <xsd:element name="ISystemProperties_getFreeDiskSpaceError">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_getFreeDiskSpaceErrorResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:long"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_setFreeDiskSpaceError">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="freeDiskSpaceError" type="xsd:long"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_setFreeDiskSpaceErrorResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      
      <!-- read/write attribute ISystemProperties::freeDiskSpacePercentError-->
      <xsd:element name="ISystemProperties_getFreeDiskSpacePercentError">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_getFreeDiskSpacePercentErrorResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:unsignedInt"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_setFreeDiskSpacePercentError">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="freeDiskSpacePercentError" type="xsd:unsignedInt"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_setFreeDiskSpacePercentErrorResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      
      
      <!-- read/write attribute ISystemProperties::defaultVRDEExtPack-->
      <xsd:element name="ISystemProperties_getDefaultVRDEExtPack">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_getDefaultVRDEExtPackResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_setDefaultVRDEExtPack">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="defaultVRDEExtPack" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_setDefaultVRDEExtPackResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      
      <!-- read/write attribute ISystemProperties::logHistoryCount-->
      <xsd:element name="ISystemProperties_getLogHistoryCount">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_getLogHistoryCountResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:unsignedInt"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_setLogHistoryCount">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="logHistoryCount" type="xsd:unsignedInt"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_setLogHistoryCountResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      

      
      <!-- read/write attribute ISystemProperties::autostartDatabasePath-->
      <xsd:element name="ISystemProperties_getAutostartDatabasePath">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_getAutostartDatabasePathResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_setAutostartDatabasePath">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="autostartDatabasePath" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_setAutostartDatabasePathResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      
      <!-- read/write attribute ISystemProperties::defaultAdditionsISO-->
      <xsd:element name="ISystemProperties_getDefaultAdditionsISO">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_getDefaultAdditionsISOResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_setDefaultAdditionsISO">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="defaultAdditionsISO" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_setDefaultAdditionsISOResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
  
      <!-- method ISystemProperties::getDefaultIoCacheSettingForStorageController-->
      <xsd:element name="ISystemProperties_getDefaultIoCacheSettingForStorageController">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="_this" type="xsd:string"/>
            <xsd:element name="controllerType" type="vbox:StorageControllerType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISystemProperties_getDefaultIoCacheSettingForStorageControllerResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returnval" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
</xsd:schema>